# Node modules
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Docker
*.log
docker-compose.override.yml

# Misc
coverage/
*.tgz
.cache/
.parcel-cache/

# Local dev
.envrc
